body {
  font-family: 'Montserrat', sans-serif;
  margin: 0; }

header {
  background-color: #191c32; }
  header h1 {
    color: #fff; }

main {
  background-color: #191c32; }

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around; }
  .navbar span {
    color: aqua; }

.letra {
  margin: -10px; }

.menu {
  padding-bottom: 50px;
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-left: 600px; }
  .menu .active {
    color: aqua; }
  .menu li {
    list-style: none; }
  .menu a {
    color: #fff;
    text-decoration: none; }

.foto-mia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%; }
  .foto-mia h2 {
    color: #fff; }
  .foto-mia span {
    margin: 3px;
    color: aqua; }
  .foto-mia .foto {
    border: 4px solid #c3c3f5; }
  .foto-mia .redes {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0; }
    .foto-mia .redes li {
      margin: 15px; }

.biografia {
  width: 50%; }

.fondo-blanco {
  backdrop-filter: blur(2px);
  background-color: #fff;
  margin-top: 5px;
  display: flex;
  flex-direction: row; }
  .fondo-blanco .sobre-mi {
    width: 80%;
    margin-top: 50px;
    margin-left: 100px;
    text-align: left;
    margin-left: 200px; }
  .fondo-blanco .tecnologias {
    padding-top: 20px; }
    .fondo-blanco .tecnologias img {
      padding: 10px; }

.mis-proyectos {
  align-content: center;
  color: #fff; }

.mis-proyectos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }
  .mis-proyectos .botton {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: aqua; }

.contacto-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px;
  margin-bottom: 0px;
  padding-bottom: 20px; }
  .contacto-form h4 {
    color: #fff; }
  .contacto-form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  .contacto-form .input {
    width: 450px;
    padding: 10px 20px;
    margin: 15px;
    border: none;
    background: none;
    border-bottom: 1px solid #fff; }
  .contacto-form textarea {
    height: 150px;
    padding: 10px;
    width: 500px;
    background: none;
    border: 1px solid #fff;
    color: #fff; }
  .contacto-form .botton {
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: aqua; }

hr {
  margin: 0px; }

.footer {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: aqua; }
  .footer div {
    margin-top: 150px; }
    .footer div .texto {
      text-align: center;
      margin: 0px; }
  .footer .redes {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 40px; }
    .footer .redes li {
      margin: 15px; }
