hr{
    margin: 0px;
}
.footer{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: aqua;

    div{
        margin-top: 150px;
    
        .texto{
            text-align: center;
            margin: 0px;
        }
    }
    .redes{
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-right: 40px ;
        
        li{
            margin: 15px;
        }
    }
}